<% if params[:name1] && params[:name2] %>
  <% params[:name1].capitalize! %>
  <% params[:name2].capitalize! %>
  <h1>Hello <%= params[:name1] %>, have you met <%= params[:name2] %>?  <%= params[:name2] %>, this is <%= params[:name1] %>.</h1>
<% else %>
  <h1>Hello! Give me some people to introduce.</h1>
<% end %>
